<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title><%= foundID.title %></title>
</head>
<body>
   <h1><%= foundID.title %> </h1>
   <ul>
      <li>Description: <%= foundID.description %></li>
   </ul>
   <a href="/tasks">Back to homepage</a>
   <a href="/tasks/<%=foundID._id%>/edit">Edit task</a>

<!-- delete button using method-override -->
   <form action="/tasks/<%=foundID._id%>?_method=delete" method="post">
<button>Delete</button>
   </form>
</body>
</html>